<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin=Dashboard</title>
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>
    <div class="dashboard-container">
        <h1>Admin-Dashboard</h1>
        <nav>
            <ul>
                <li><a href="/admin/users">User Management</a></li>
                <li><a href="/admin/content">Content Management</a></li>
                <li><a href="/admin/reports">Reports Management</a></li>
                <li><a href="/admin/settings">Setting Management</a></li>
                <li><a href="/admin/logout">Logout Management</a></li>
            </ul>
        </nav>

        <section class="main-content">
            <h2>WelCome!</h2>
        </section>
    </div>
</body>
</html>