body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container .title {
    text-align: center;
    color: red;
    margin-bottom: 20px;
}
.container label {
    display: block;
    margin-bottom: 8px;
}
.container input[type="text"],
.container input[type="password"],
.container input[type="email"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.container button:hover {
    background-color: #45a049;
}
.footer {
    margin-top: 20px;
    text-align: center;
}
