<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up Page</title>
</head>
<body>
    <div class="container">
        <form action="signup" method="post">
            <label for="ID">ID:</label>
            <input type="text" id="ID" name="ID">

            <label for="PW">PW:</label>
            <input type="text" id="PW" name="PW">

            <label for="name">Name:</label>
            <input type="text" id="name" name="name">

            <label for="email">Email:</label>
            <input type="text" id="email" name="email">

            <button type="button" onclick="verfityEmail()">인증</button>
            <button type="submit">Sign-Up</button>
        </form>
        <div class="footer">Copyright</div>
    </div>
    <script>
        function verfityEmail() {
            alert("이메일 인증 버튼 클릭")
        }
    </script>
</body>
</html>